html{
    scroll-behavior: smooth;
    font-family: "Mulish", Helvetica, Arial, sans-serif !important;
}

body{
  color: #F5F6FC;
  /* font-weight: 100; */
  background-color: #1a1a23;
  font-weight: 100 !important;
  /* font-size: 18px; */
}
h1{
  font-size: 40px;
  line-height: 1;
  padding-top: 20px 0;
}
h2{
  font-size: 20px;
  line-height: 1.5;
  padding-top: 10px 0;
  font-weight: 100 !important;
}
h3{
  font-size: 20px;
  line-height: 1.5;
  padding-top: 5px 0;
  font-weight: 100 !important;
}

p{
  font-size: 18px;
  text-align: left;
  margin-left: 10px;
  margin-right: 10px;
  font-weight: 100 !important;
}


.home-intro{
  background-attachment: fixed; /* Parallax effect */
  background-image: url("../images/annarbor.png");
  background-repeat: no-repeat;
  background-size: 100%;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  align-items: center;
  grid-gap: 50px;
  padding-left: 10%;
  padding-right: 10%;
  /* padding-bottom: 200px; */
}

.home-intro-text{
  text-align: left;
  grid-column: 1 / span 2;
  grid-row: 1
}

.headshot-image{
  max-width: 100%;
  grid-column: 3;
  grid-row: 1/ span 3;
}


  a{
    color: #BDC4FF;
    text-decoration: none;
  }

  .skip a{
    background: rgba(255, 255, 255, .8);
    color: black;
    left: 0;
    padding: 6px;
    position: absolute;
    top: -40px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
  }

  .skip a:focus{
    top: 0px;
  }

  :focus{
    outline: 2px solid white;
  }



  .nav-grid{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    /* to center nav in header^ */
}

/* whole nav bar: */
  .nav{
    grid-column: 2;
    grid-row: 1;
    /* to center nav in header^ */

    align-items: flex-end;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    background-color: #1a1a23;
    overflow: hidden;
    padding-top: 15px;
    padding-bottom: 15px;
  }


  .nav a{
      float: left;
      font-size: 20px;
      color: #F5F6FC;
      text-align: center;
      /* padding: 14px 16px; */
      text-decoration: none;
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 40px;
      padding-right: 40px;
      border-radius: 30px;
      margin-left: 20px;
      margin-right: 20px;
  }


  .subnav {
    float: left;
    overflow: hidden;
  }

  .subnav .subnavbtn {
  font-size: 20px;
  border: none;
  outline: none;
  color: #F5F6FC;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 30px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.subnav button:hover{
  background-color: #333545;
  text-decoration: none;
}

  .nav a:hover{
    background-color: #333545;
    text-decoration: none;
  }

  a.current{
    background: rgba(189, 196, 255, 0.2);
    color: #F5F6FC;
  }

  a:hover{
    text-decoration: underline;
  }

/* whole subnav area: */
  .subnav-content {
    display: none;
    position: absolute;
    background-color: #1a1a23;
    max-width: 30%;
    z-index: 1;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 15px;

  }

  .subnav-content a {
    float: left;
    color: #F5F6FC;
    text-decoration: none;
    margin-top: 5px;
    /* margin-bottom: 3px;  */
  }

  .subnav-content a:hover {
    background-color: #333545;
    color: #F5F6FC;
  }

  .subnav:hover .subnav-content {
    display: block;
  }

i{
  padding-left: 15px;
}


.my-projects{
  margin-top: 40px;
  margin-left: 15%;
  margin-right: 15%;
  width: 70%;
  text-align: center;
  /* font-size: 30px; */
  /* align-items: center; */
}

.my-projects>h2{
  font-size: 30px;
}



.card {
  background-color: #262734;
  width: 80%;
  height: 325px;
  margin-right: 10%;
  margin-left: 10%;
  margin-top: 40px;
  margin-bottom: 50px;
  border-radius: 10px;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  align-items: center;
}

.card>img{
  margin: 10%;
  border-radius: 2%;
  max-width: 70%;
  grid-column: 1;
  grid-row: 1/span 3;
}


.card-text{
  text-align: left;
  grid-column: 2/span 2;
  grid-row: 1/span 2;
}

.card-text>h2{
  font-size: 24px;
  color: #BDC4FF;
  /* color: #A4ABDE; */
  position: relative;
}

.card-text>h2:before{
    content: "";
    position: absolute;
    top: 100%;
    width: 95%;
    left: 0;
    height: 2px;
    margin-top: 5px;
    border-radius: 2px;
    background: linear-gradient(111.3deg, #BDC4FF 9.6%, #262734 93.6%);
  }

.card-text>p{
  font-size: 18px;
  margin-left: 0;
  margin-right: 20%;
}


.buttonlink{
  /* width: 100px; */
  max-width: 100%;
  text-align: center;
  text-decoration: none;
  padding: 10px 25px 10px 25px;
  position: relative;
  /* margin-bottom: 50px; */
  /* background-color: #E6E6EA; */
  color: #F5F6FC;
  font-weight: 900;
  grid-column: 2;
  grid-row: 3;
  border: 2px solid #F5F6FC;
  border-radius: 5px;
}

.card>a{
  margin-bottom: 50px;
}

.buttonlink:hover{
  /* background-color: #D9D9D9; */
  filter: drop-shadow(0px 0px 6px rgba(245, 246, 252, 0.5));
  background-color: rgba(245, 246, 252, 0.03);
  text-decoration: none;
}


.card-container{
  /* padding-left: 10%; */
  /* padding-right: 10%; */
  grid-template-columns: auto;
  grid-template-rows: auto;
}

.title{
  background-attachment: fixed; /* Parallax effect */
  background-image: url("../images/annarbor.png");
  background-repeat: no-repeat;
  background-size: 100%;
  padding-left: 10%;
  padding-right: 10%;
  align-items: center;
}

.title>h1{
  padding-top: 60px;
  margin-top: 0;
}

.title>h2{
  padding-bottom: 70px;
  margin-bottom: 0;
}

.subhead{
  background-color: #333545;
  /* width: 100%; */
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10%;
  padding-right:10%;
  /* margin-left: 10%;
  margin-right: 10%; */
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-column-gap: 50px;
}



.subhead-h4{
  font-size: 18px;
  grid-column: 1/span2;
  grid-row: 1;
  padding: 10px;
}

.subhead-h4>h4{
  font-weight: 100 !important;
}

.subhead-p{
  /* font-size: 12px; */
  grid-column: 3;
  grid-row: 1;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 10px;
  border-left: 2px solid rgba(245, 246, 252, 0.2);
}

.subhead-a{
  grid-column: 3;
  grid-row: 2;
  margin-left: 10px;
  margin-right: 10px;
}

.subhead-a>a{
  display: inline-block;
  margin-right: 20px;
  margin-top: 10px;
}

.process>h2{
  font-size: 30px;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  text-align: center;
}

.process>p{
  /* margin-top: 40px; */
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  text-align: left;
}

hr{
  margin-top: 40px;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  background-color: #333545;
  height: 2px;
  border: none;
}

.process-content{
    /* background-color: #262734; */
    width: 65%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 40px;
    margin-bottom: 50px;
    /* border-radius: 10px; */
    display: grid;
    grid-gap: 20px;
    grid-template-columns: auto;
    grid-template-rows: auto;
    align-items: center;
    height: 100%;
    place-items: center;
}

.process-content-moregrid{
    /* background-color: #262734; */
    width: 65%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 40px;
    margin-bottom: 50px;
    /* border-radius: 10px; */
    display: grid;
    grid-gap: 20px;
    grid-template-columns: auto;
    grid-template-rows: auto;
    align-items: center;
    height: 100%;
    place-items: center;
}

.process-content>h2{
  grid-column: 1/span 2;
  align-items: center;
}

.process-content-moregrid>h2{
  grid-column: 1/span 4;
  align-items: center;
}

.process-content>p{
  grid-column: 1/span 2;
  align-items: left;
}

.process-content-moregrid>p{
  grid-column: 1/span 4;
  align-items: left;
}

.process-content>ul{
  grid-column: 1/span 2;
  align-items: left;
}

.process-content>ol{
  grid-column: 1/span 2;
  align-items: left;
}


.img-1{
  grid-column: 1/span 2;
  width: 90%;
}


.img-2-1{
  width: 100%;
  grid-column: 1;
  margin-left: 0px;
}

#img-small-1{
  width: 112%;
  margin-left: 0px;
}

#img-small-2{
  width: 88%;
  margin-right: 0px;
}

.img-2-2{
  width: 100%;
  grid-column: 2;
  margin-right: 0px;
}

#img-smaller{
  width: 80%;
}

#img-smaller-1{
  width: 95%;
}

#img-smaller-2{
  width: 100%;
}

.img-2-1-paper{
  width: 80%;
  grid-column: 2;
}

.img-2-2-paper{
  width: 80%;
  grid-column: 3;
}

.img-2-1-proto{
  width: 87%;
  grid-column: 1;
}

.img-2-2-proto{
  width: 100%;
  grid-column: 2/span 3;
}





.more-projects{
    padding-top: 10px;
    padding-bottom: 40px;
    background-color: #262734;
    width: 80%;
    height: 100%;
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 40px;
    margin-bottom: 50px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.more-projects>h2{
  font-size: 24px;
  color: #BDC4FF;
  margin-right: auto;
  margin-left: auto;
  grid-row: 1;
  grid-column: 1/span 2;
}

.more-projects>a{
  grid-row: 2;
  grid-column: 1/span 2;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  /* display: block; */

}


.resume-title{
  background-attachment: fixed; /* Parallax effect */
  background-image: url("../images/annarbor.png");
  background-repeat: no-repeat;
  background-size: 100%;
  padding-left: 10%;
  padding-right: 10%;
  align-items: center;
}

.resume-title>h1{
  padding-top: 60px;
  margin-top: 0;
}

.resume-buttons{
  display: inline-grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  /* margin-bottom: 60px; */
  align-items: center;
}

.li-icon{
  grid-column: 2;
  /* margin-top: 10//px; */
  margin-bottom: 45px;
  margin-left: 30px;
}

.li-icon>img{
  width: 40px;
  /* align-items: bsaseline; */
}

.li-icon>img:hover{
  filter: drop-shadow(0px 0px 6px rgba(245, 246, 252, 0.5))
}

.buttonlink-dl{
  /* width: 100px; */
  grid-column: 1;
  max-width: 100%;
  text-align: center;
  text-decoration: none;
  padding: 10px 25px 10px 25px;
  position: relative;
  color: #F5F6FC;
  font-weight: 900;
  border: 2px solid #F5F6FC;
  border-radius: 5px;
  margin-bottom: 50px;
}

.buttonlink-dl:hover{
  /* background-color: #D9D9D9; */
  filter: drop-shadow(0px 0px 6px rgba(245, 246, 252, 0.5));
  background-color: rgba(245, 246, 252, 0.03);
  text-decoration: none;
}


.resume-subhead{
  background-color: #333545;
  /* width: 100%; */
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10%;
  padding-right:10%;
  /* margin-left: 10%;
  margin-right: 10%; */
  /* display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-column-gap: 50px; */
}

.resume-subhead-content{
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-column-gap: 50px;
  align-items: center;
}

.resume-education{
  grid-column: 1;
}

.resume-education>h2{
  font-size: 30px;
}

.resume-subhead-content>img{
  margin-top: 50px;
  margin-bottom: 30px;
  width: 80%;
  grid-column: 2;
}

.honors{
  grid-row: 2;
  grid-column: 1/span 2;
}

.skills{
  margin-top: 40px;
  margin-bottom:60px;
}

.skills>h2{
  text-align: center;
  font-size: 30px;
}

.resume-subhead>hr{
  margin-top: 40px;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(245, 246, 252, 0.2);
  height: 2px;
  border: none;
}

.resume-h1>h1{
  margin-top: 40px;
  text-align: center;
}


.resume-card {
  background-color: #262734;
  width: 80%;
  margin-right: 10%;
  margin-left: 10%;
  margin-top: 40px;
  margin-bottom: 50px;
  border-radius: 10px;
  display: grid;
  /* grid-gap: 0px; */
  grid-template-columns: auto auto 30%;
  grid-template-rows: auto;
  align-items: center;
}

.resume-card>img{
  margin-left: 10%;
  margin-right: 40px;
  margin-top: 5%;
  margin-bottom: 5%;
  border-radius: 2%;
  max-width: 80%;
  /* max-height: 80%; */
  grid-column: 3;
  grid-row: 1/span 3;
}


.resume-card>h2{
  font-size: 20px;
  margin-bottom: 0px;
  text-align: center;
  grid-column: 1/span 3;
  grid-row: 1;
}

.resume-card>p{
  margin: 0px;
  text-align: center;
  grid-column: 1/span 3;
  grid-row: 2;
}

.resume-card-text{
  text-align: left;
  grid-column: 1/span 2;
  grid-row: 3;
  /* grid-row: 3/span 2; */
  margin-bottom: 30px;
  margin-left: 40px;
}

.resume-card-text>h3{
  margin-top: 0px;
  /* grid-row: 3/span 2; */
}

.resume-card-text>p{
  text-align: left;
  grid-column: 1/span 2;
  grid-row: 3/span 2;
}

.resume-card-a{
  grid-column: 1/ span 3;
  grid-row: 4;
  margin-left: 50px;
  margin-bottom: 30px;
  margin-top: -30px;
}

.resume-card-a>a{
  display: inline-block;
  margin-right: 20px;
  margin-top: 10px;

}




footer{
  background-color: #333545;
  color: #F5F6FC;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  margin-top: 100px;
}

footer p{
  text-align: center;
  color: #F5F6FC;
  font-size: 16px;
}

footer p>img{
  max-height: 16px;
  padding-left: 5px;
  padding-right: 5px;
}

footer>a{
  display: inline-block;
  padding-left: 20px;
  padding-right: 20px;
}

footer>a>img{
  max-width: 35px;
}

footer>a>img:hover{
  filter: drop-shadow(0px 0px 6px rgba(245, 246, 252, 0.5))
}






@media screen and (prefers-reduced-motion: reduce){
  html{
      scroll-behavior: auto;
  }

  .skip a{
    background: white;
    color: black;
    left: 0;
    padding: 6px;
    position: absolute;
    top: -40px;
    -webkit-transition: none !important;
    transition: none !important;
    z-index: 1;
  }

  .skip a:focus{
    top:0;
  }
}
